BeautifulSoup==3.2.1
Django==1.4.5
Pygments==1.6
South==0.7.6
amqp==1.0.8
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.21
celery==3.0.15
cssutils==0.9.10b1
dj-database-url==0.2.1
django-bcrypt==0.9.2
django-celery==3.0.11
django-crispy-forms==1.2.3
django-indexer==0.3.0
django-paging==0.2.4
django-picklefield==0.3.0
django-secure==0.1.2
django-social-auth==0.7.20
django-social-auth-trello==1.0.2
django-static-compiler==0.3.1
django-templatetag-sugar==0.1
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.2
httpagentparser==1.2.2
httplib2==0.7.7
kombu==2.5.6
logan==0.5.4
oauth2==1.5.211
psycopg2==2.4.5
py-bcrypt==0.2
pynliner==0.4.0
python-dateutil==1.5
python-openid==2.2.5
pytz==2012j
raven==3.1.16
sentry==5.4.5
sentry-github==0.1.2
simplejson==3.1.0
six==1.2.0
wsgiref==0.1.2
